@import 'fonts-and-shadows';
@import 'media';

.image-col {
	padding: 0;
}

img.profile-pic {
	border: 5px solid lightblue;
	border-radius: 100%;
	margin: 1em auto;
	width: 50%;
	display: block;
}

p.about-text {
	display: inline-block;
	font-family: $text;
	@media screen and (min-width: $break-med) {
		margin: 1em 7em;
		// margin-right: 7em;
	}
}
