@import 'fonts-and-shadows';
@import 'media';

.image-col {
	padding: 0;
}

img.profile-pic {
	border: 5px solid lightblue;
	border-radius: 100%;
	margin: 1em auto;
	width: 80%;
	display: block;
}

.about-text-column {
	text-align: center;
}

p.about-lead {
	font-family: $text;
	font-size: 2.5em;
	font-weight: 100;
	margin-bottom: 1em;
	@media screen and (min-width: $break-med-lg) {
		margin-top: 2.7em;
	}
}

p.about-intro {
	@extend p.about-lead;
	font-size: 1.8em;
	margin-top: 1em;
}

p.about-text {
	@extend p.about-lead;
	font-size: 0.9em;
	margin-top: 2.7em;
	// display: inline-block;
	@media screen and (min-width: $break-med-lg) {
		// margin: 1em 7em;
	}
}

.toggle-more-sm {
	text-align: center;
	@media screen and (min-width: $break-med-lg) {
		display: none;
	}
}

.toggle-more-lg {
	display: none;
	@media screen and (min-width: $break-med-lg) {
		display: initial;
		text-align: right;

	}
}

p.about-more-text {
	@extend p.about-text;
	@media screen and (min-width: $break-med-lg) {
		margin-right: 5em;
	}
}

.about-more {
	display: none;
	@media screen and (min-width: $break-med-lg) {

	}
}
