@import 'fonts-and-shadows';

.contact-label {
  font-family: $text;
  color: black;
}

button.contact-label {
  float: right;
  border: 1px solid $gray;
}

button.contact-label:hover {
  color: $white;
  box-shadow:
    inset -2.5em 0 0 0 $blue,
    inset 2.5em 0 0 0 $blue;
  transition: box-shadow 0.25s;
  webkit-transition: box-shadow 0.25s;
}

h3.social-heading {
  width: 100%;
  margin: 0px auto;
}

.social-div {
  margin-top: 2em;
}

.social-link {
  color: inherit;
}

.social-text {
  font-family: $text;
}
