//temp constructor styles, delete when finished

// div {
// 	border: 1px solid red;
// }

// nav {
// 	opacity: 0.5;
// }

// .row {
// 	border: 1px solid blue;
// }

// section {
// 	border: 1px solid red;
// }
// font stack



// colors


// media queries
$break-small: 375px;
$break-med: 376px;
$break-large: 1200px;

// nav bar
#appearing-nav {
	display: initial;
}


.brand {
	width: 50%;
	text-align: center;
}

h1.nav-header {
	@media screen and (min-width: $break-med) {
		display: inline;
	}
	font-size: 2em;
}

h3.nav-header {
	@extend h1.nav-header;
	font-size: 1em;
}

//general section styles
section {
	border: 1px solid white;
}

.section-row {
	margin-top: 12em;
	height: 68vh;
	@media screen and (min-width: $break-med) {
		margin-top: 4em;
		height: 88vh;
	}
}


//footer styles
footer {
	height: 2em;
}






