@import 'fading_animations';
@import 'splash';
@import 'hamburger';
@import 'fonts-and-shadows';
@import 'media';
@import 'about';
@import 'tech';
@import 'projects';

body {
	background-color: $offwhite;
}

// content wrapper
.wrapper {
    // max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

// nav bar
.nav-div {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 12vh;
	margin: 0 auto;
    background-color: $brown;
    @include box-shadow1();
    @media screen and (min-width: $break-med-lg) {
	  width: 100%;
	}
}

h1.nav-logo {
	font-family: $logo;
	font-size: 2em;
	margin-left: 1em;
	margin-top: 0.5em;
	@media screen and (min-width: $break-med-lg) {
		margin-top: 1em;
		margin-left: 2.3em;
	}
}

.menu-toggle {
  position: absolute;
  right: 50px;
  padding: 0.8em;
  cursor: pointer;

  margin-top: 0.5em;
	@media screen and (min-width: $break-med) {
		// margin-top: 2em;
	}

    @media screen and (min-width: $break-med-lg) {
	  display: none;
    }
}

.nav-menu {
	display: none;
	padding: 0;
	@media screen and (min-width: $break-med-lg) {
		display: flex;
		justify-content: flex-end;
	}
}

.nav-list {
	font-family: $text;
	@media screen and (min-width: $break-med-lg) {
		font-size: 1.2em;
		margin-top: 1.5em;
	}
}

.show {
	display: initial;
}

nav ul {
    list-style-type: none;
    margin: 0;

    @media screen and (min-width: $break-med-lg) {
		flex-direction: row;
	}
}


nav li, a.nav-link {
	display: block;
	@media screen and (min-width: $break-med-lg) {
		display: inline-block;
	}
}

a.nav-link {
	text-decoration: none;
	color: inherit;
}

h1.nav-header {
	@media screen and (min-width: $break-med) {
		display: inline;
	}
	font-size: 2em;
}

h3.nav-header {
	@extend h1.nav-header;
	font-size: 1em;
}

//general section styles
#about {
	margin-top: 15vh;
	@media screen and (min-width: $break-med-lg) {
		margin-top: 18vh;
	}
}

section {
	// margin-top: 2em;
	// border: 1px solid green;
	@media screen and (min-width: $break-med-lg) {
		margin-top: 2em;
	}
}

.section-row {
	@include box-shadow1();
	background-color: $white;
	min-height: 83vh;
	@media screen and (min-width: $break-med-lg) {
		min-height: 80vh;
	}
}

.center {
	text-align: center;
}

h3.heading {
	@extend h1.nav-header;
	display: block;
	margin: 1em auto;
	font-size: 1.5em;
	@media screen and (min-width: $break-med) {
		margin-top: 1.9em;
	}
}

//footer styles
footer {
	height: 2em;
}
